{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<br>
<br>

    <div class="grid u-gap-2">
        <div class="grid-c-1"></div>

        <div class="grid-c-10">
            


                
                {% if tag %}
                    <h1>Showing Posts Tagged: {{ tag }}</h1>
                    <p><a href="{{ page.url }}">Return to blog</a></p>

                {% elif category %}
                <h1>Category: {{ category.name }}</h1>
                <p>{{category.description}}</p>
                <p><a href="{{ page.url }}">Return to blog</a></p>

                {% else %}
                    <h1>{{ page.title }}</h1>
                    <div class="intro">{{ page.intro|richtext }}</div>
                    {% if categories %}
                            <p style="display: inline;">Categories: 
                            {% for category in categories %}
                                <a href="{{ page.url}}category/{{category.slug}}">{{category.name}}</a>{% if not forloop.last %}, {%endif%} </p>
                            {% endfor %}
                    {% endif %}
                    
                {% endif %}
                <div class="divider"></div>

                <div class="grid-lg u-gap-2">
                    {% for post in posts %}

                    <div class="grid-c-4">
                        <a href="{% pageurl post %}">
                            <div class="card card--slide-up bg-gray-800 text-pink-400" >
                                <div class="card__container">
                                    {% image post.specific.image fill-600x600 as thumbnail %}
                                    
                                    <div class="card__image" style="background-image: url('{{ post.specific.image.file.url }}');"></div>
                                </div>
                                <div class="card__mobile-title bg-gray-800">
                                    <div class="content">
                                        <div class="tile">
                                            <div class="tile__container">
                                                <p class="tile__title" style="margin-left: 5%;">{{ post.title }}</p>
                                                <p class="tile__subtitle" style="margin-left: 5%;">by {{post.specific.owner}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__body content">
                                    <p style="margin-left: 5%;">{{ post.specific.intro }}</p>
                                </div>
                                <div class="card__footer content" style="margin-left: 5%;">Posted on {{ post.specific.date }}</div>
                            </div>
                        </a>
                    </div>  
                    {% endfor %}
                </div>


            
         </div>

           
            
        </div>

    </div>


{% endblock %}